html, body {
                //background: url(../img/fon.jpg);
                //background-color: #FEF3D4;
                color: #212529;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

/* all color */   
.navbar-brand{
    color: #fff;
}
.navbar-brand:hover{
    color: #fff;
}
.base-color{
    background-color: #E4C7AD !important;
}
.base-border-color{
    border:1px #953014 solid;
}
.base-text-color{
    color: #953014;
}
.base-text-color:hover{
    color: #953014;
}
.add-color{
    background-color:#953014;
}
.bg-light {
    background-color: #fff !important;
}
.btn-light{
    background-color: #E4C7AD;
    border-color: #953014;
    color: #fff;
}
.btn-light:hover {
    background-color: #953014;
    border-color: #953014;
    color: #fff;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
    background-color:  #E4C7AD;
    border-color: #953014;
    color: #953014;
} 
.navbar-dark .navbar-nav .nav-link, .white  {
    color: #fff;
}
.white:hover{
    color: #E4C7AD;
}
.nav-link{
    color: #212529;
}
.nav-link:hover{
    color: #953014;
}
.fa-facebook{
    color:#324F8B; 
}
.fa-twitter-square{
    color: #48A6F0;
}
.favorites{
    border:1px solid #ececec;
}
.favorites:hover{
    background-color: #ececec;
}
/*убрать голубое свечение*/
.form-inline input[type="text"], select{  
        -webkit-box-shadow: none;
        outline: -webkit-focus-ring-color auto 0px;
} 
input[type="text"], input[type="number"], input[type="time"],  input[type="file"], select{
    border-radius: 5px;
    border-color: #E4C7AD;
}
input[type="text"]:focus, input[type="time"]:focus, input[type="number"]:focus, input[type="file"]:focus {
    border-color: #953014;
}
.card-title{
    color: #212529;
}
.card-title:hover{
    color: #953014;
}
.card-user{
    color: #212529;
}
.card-user:hover{
    color: #953014;
}
.ending{
    font-size: 12px;
    color: #8B8E79;
}
.bold{
    font-weight: bold;
}
.center{
    text-align: center;
}
.seller{
    background-color: #E4C7AD;
}
.ui-state-active, .ui-widget-content .ui-state-active, /*в кабинете акардион*/
.ui-widget-header .ui-state-active, a.ui-button:active, 
.ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #E4C7AD;
    background: #E4C7AD;
    color: #ffffff;
}
/*navbar*/
.count, .count_chat {
    display: inline-block;
    position: absolute;
    left: auto;
    right: 125px;
    top: 5px;
    background: #df6c4f;
    font-style: normal;
    border-radius: 10px;
    padding: 0 5px;
    font-size: 11px;
    line-height: 16px;
    color: #fff;
}
.count_chat{
    right: 255px;
    top: 265px;
}
.messages{
    font-size: 20px;
}
.language{
     font-size: 14px;
}

.login{
    list-style: none;
}
.login li{
    margin:0 5px; 
}
.reg{
    list-style: none;
    margin-top: 10px;
    margin-right: 20px;
}
.reg li{
    padding-left: 10px;
}
.dropdown{
    border-radius: 5px;
}
.form-inline{
    width: 80%;
}
.form-inline .form-control{
    width: 80%;
    margin: 0 10px;
}
/*card*/
.col-lg-3{
    padding: 5px 5px;
}
.card{
    border: 1px #fff solid;
}
.follow{
  position: absolute;
  width: 100%;
  height: 44px;
  line-height: 44px;
  background: #fff;
  color: #30333A;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.5s ease;
}
.card:hover{
    box-shadow: 0 0 15px  #E4C7AD;
    border: 1px #E4C7AD solid;
}
.card:hover .follow{
     opacity: 0.8;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3,
.col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, 
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, 
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, 
.col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, 
.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
.col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, 
.col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, 
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, 
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, 
.col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, 
.col-xl-9, .col-xl-auto{
    padding: 0;
}
.breadcrumb{
    padding: 0;
    background-color: #fff;
    margin-bottom: 40px;
}
.price {
    margin-top: 20px;    
}
.del{
    margin-left: 40%;
}
.shows{
    margin:50px auto;    
}
.advantages h5,.advantages p{
    padding: 0 10%;
}
.advantages img{
    display: inline-block;
}
.text{
    padding: 5%;
}
.advantag{
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 70px;
}
footer{
    
    padding-top: 30px;
}
.info{
    list-style: none;
    padding-left: 0px;
}
.copyright p{
    font-size: 13px;
    margin-bottom: 0;
}
.top{
    margin-left: 60%;
    margin-top: 10%
}
.fab{
    font-size: 25px;
    padding-right: 10px;
}

/*один товар*/
/*карусель одного товара*/
#bx-pager a img:hover,
#bx-pager a.active img{
    border: solid #E4C7AD 1px;
}
#bx-pager img{
    width: 20%;
}
.oneproduct .bx-wrapper .bx-controls-direction a{
    top:130%;
}
.bx-wrapper img{
    display: inline-block;
    width: 370px;
}
/*\карусель одного товара*/
.lot h3{
    margin:30px 0;
}
.oneproduct{
    text-align: center;
    margin-bottom: 25px;
}
.oneproduct:after{
    display: table;
    content: " ";
}
.about_lot_title {
    border: 1px solid #ececec;
    padding: 16px 0;
    padding-left: 16px;
    min-height: 72px;
    font-size: 16px;
    text-align: center;    
}
.info div{
    margin-right: 30px;
}
.about_lot_title span{
    font-size: 14px;
    font-weight: bold;
}
.prices, .rate{
    margin-left: 20px;
    margin-right: 0;
    text-align: left;
}
.rate{
    margin-top: 20px;
}
.prices span{
    font-size: 20px;
}
.rate input{
    margin: 20px;
}
.follow{
    margin-left: 20px;
}
.description span{
    font-weight: bold;
}
.description h4{
    margin-top: 40px;
}
.comment{
    list-style: none;
    padding: 0;
}
.seller{
    vertical-align: middle;
    margin-right: 5px;
    height: 18px;
    line-height: 18px;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    color: #ffffff;
    margin-top: 2px;
}
.time{
    font-size: 14px;
    margin-left: 15px;
}
.comment p{
    font-size: 18px;
    margin-top: 15px;
}
.send{
    margin:30px 0;
}

/*cabinet*/
.cabinet h5{
    margin-left: 15px;
    margin-top: 40px;
}
.avatar{
    text-align: center;
}
.avatar img{
    width: 200px;
}
.basic, .basic_edit{
    margin-left: 15px;
    margin-right: 0;
    margin-bottom: 30px;
}
.basic div{
    margin-left: 8%;
}
.basic_edit div{
    margin-left: 3%;
}
.basic .favorites,.basic_edit .favorites{
    margin-top: 10px;
}
.basic_edit{
    padding-bottom: 0;
}
.main{
    margin: 20px 15px;
    padding-left: 0;
}
.accordion ul{
    list-style: none;
    text-align: left;
}
/*профиль*/
.feedback{
    margin:20px 0;
}
.feedback div{
    text-align: left;
    overflow-y:auto; 
    height:200px;
}
.feedback .fa-thumbs-up, .feedback .fa-thumbs-down{
    margin-left: 20px;
}
.feedback table{
    text-align: center;
}
.img_refresh i{
    margin-top: 20%;
    font-size: 20px;
}
.cabinet .avatar .img_refresh{
    width: 150px;
    height: 150px;
    border: 1px solid #e5e5e5;
    background: #ffffff;
    padding: 6px 0 0 6px;
    position: absolute;
    left: 25%;
    top:-5%;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
    opacity: .4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.cabinet .avatar .img_refresh {
    display: none;
} 
.avatar:hover .img_refresh{
    cursor: pointer;
    display: block;
}
.avatar input{
    opacity:0;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    cursor: pointer;
}
/*chat*/
.my{
    text-align: right;
}
.my_text{
    //text-align: right;
    width: 80%;
    margin-left:20%;
}
.text_guest{
    width: 80%
}
.hr{
    margin-top: 0;
    margin-bottom: 30px;
}
.chat{
    margin: 20px 0;
    margin-right: 20px;
}

/*add_lot*/
.add_lot label{
    font-weight: bold;
}
.anchor label{
    font-weight: normal;
}
.add_lot .form-group{
    margin: 50px 0;
}
.open{
    display: none;
}
ul{
    list-style: none;
}
.check{
    display: flex;
}
.check p{
    margin-left: 15px;
    margin-right: 35px;
    margin-top: 7px;
    margin-bottom: 0;
}
#switch,#switch2 {
  height: 0;
  width: 0;
  visibility: hidden;
}
.switch,.switch2 {
  margin-top: 5px;
  cursor: pointer;
  text-indent: -9999px;
  width: 70px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}
.switch:after,.switch2:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
#switch:checked + .switch, #switch2:checked + .switch2  {
  background: #953014;
}
#switch:checked + .switch:after, #switch2:checked + .switch2:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.switch:active:after,.switch2:active:after {
  width: 80px;
}
#price{
    margin: 0 15px;
    height: 38px;
}
.region{
    height: 38px;
    font-size: 1rem;
    margin:0 15px ;
}
#step-select, #datetime, #hour{
    margin: 0 15px;
}