html, body {
                //background: url(../img/fon.jpg);
                //background-color: #FEF3D4;
                color: #212529;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

/* all color */ 
.btn{
    background-color: #FEF3D4;
}
.cleaning:hover{
    background-color: #E4C7AD;
    color: #fff;
}
.navbar-brand{
    color: #fff;
}
.navbar-brand:hover{
    color: #fff;
}
.base-color{
    background-color: #E4C7AD !important;
}
.base-border-color{
    border:1px #FEF3D4 solid;
}
.base-text-color{
    color: #953014;
}
.base-text-color:hover{
    color: #953014;
}
.add-color{
    background-color:#953014;
}


.bg-light {
    background-color: #fff !important;
}
.btn-light{
    background-color: #E4C7AD;
    border-color: #FEF3D4;
    color: #fff;
}
.btn-light:hover {
    background-color: #953014;
    border-color: #953014;
    color: #fff;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
    background-color:  #E4C7AD;
    border-color: #953014;
    color: #953014;
}

.navbar-dark .navbar-nav .nav-link, .white  {
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link:hover{
     color: #953014;
 }
.white:hover{
    color: #E4C7AD;
}
.add-color:hover{
    background-color:#FEF3D4;
    color: #953014;
}
.nav-link{
    color: #212529;
}
.nav-link:hover{
    color: #953014;
}
.fa-facebook{
    color:#324F8B; 
}
.fa-twitter-square{
    color: #48A6F0;
}
.favorites{
    border:1px solid #ececec;
}
.favorites:hover{
    background-color: #ececec;
}
.regulations:hover{
 background-color: #953014;
 border-radius: 5px;
}
/*убрать голубое свечение*/
.form-inline input[type="text"], select, .form-control input[type="text"]{
        -webkit-box-shadow: none;
        outline: -webkit-focus-ring-color auto 0px;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
/*a:active, a:focus { outline: none; }*/

/*input, textarea {outline:none;}*/
/*input:active, textarea:active {outline:none;}*/
/*:focus {outline:none;}*/
/*textarea {resize:none;}*/
/*textarea {resize:vertical;}*/
/*textarea {resize:horizontal;}*/

input[type="text"], input[type="number"], input[type="time"],  input[type="file"], select, .form-control{
    border-radius: 5px;
    //border-color: #E4C7AD;
}
input[type="text"]:focus, input[type="time"]:focus, input[type="number"]:focus, input[type="file"]:focus, .form-control:focus {
    border-color: #953014;
}
.card-title{
    color: #212529;
}
.card-title:hover{
    color: #953014;
}
.card-user{
    color: #212529;
    cursor: pointer;
}
.card-user:hover{
    color: #953014;
}
.ending{
    font-size: 12px;
    color: #8B8E79;
}
.row{
    margin: 0;
}
.bold{
    font-weight: bold;
}
.center{
    text-align: center;
}
.seller{
    background-color: #E4C7AD;
}
.ui-state-active, .ui-widget-content .ui-state-active, /*в кабинете акардион*/
.ui-widget-header .ui-state-active, a.ui-button:active, 
.ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #ddd;
    background: #953014;
    color: #ffffff;
}
.add_lot_header{
    margin-right: 2%;
    color: #953014;
}
.add_lot_header:hover{
    background: #953014;
    color: #ffffff;
}
.ui-widget-header{
    background-color: #fff;
}
.pull-right{
    color:#888;
}




/*navbar*/
.count, .count_chat {
    display: inline-block;
    position: absolute;
    left: auto;
    right: 90px;
    top: 5px;
    background: #df6c4f;
    font-style: normal;
    border-radius: 10px;
    padding: 0 5px;
    font-size: 11px;
    line-height: 16px;
    color: #fff;
}
.count_chat{
    right: 415px;
    top: 260px;
}
.messages{
    font-size: 20px;
}
.language{
     font-size: 14px;
}
.dropdown-toggle{
    border-radius: 5px;
}
.login{
    list-style: none;
}
.login li{
    margin:0 5px; 
}
.reg{
    list-style: none;
    margin-top: 10px;
    margin-right: 20px;
}
.reg li{
    padding-left: 10px;
}
.dropdown{
    border-radius: 5px;
}
.form-inline{
    width: 60%;
}
.form-inline .form-control{
    width: 80%;
    margin: 0 10px;
}
.ui-tabs .ui-tabs-nav{
    padding: 0 15px;
}
 .ui-tabs .ui-tabs-panel{
    padding: 10px;
    border-top: 1px solid #ddd;
    //border-bottom: none;
}
 .ui-widget-content{
    border: none;
}
 .ui-widget-header{
     border: none;
}
 .ui-state-active, .ui-widget-content .ui-state-active, 
 .ui-widget-header .ui-state-active, a.ui-button:active,
 .ui-button:active, .ui-button.ui-state-active:hover {
    background: #fff;
    
}
 .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #212529;
}
.welcome .ui-state-default a,.welcome .ui-state-default a:link,
.welcome .ui-state-default a:visited,.welcome a.ui-button,.welcome a:link.ui-button,
.welcome a:visited.ui-button,.welcome .ui-button {
    color: #485059;
}

/*register*/
.registration{
    margin-bottom: 40px;
}
.log{
    margin-bottom: 150px;
}
.form-group{
   margin: 20px 0;
}
.col-form-label{
    margin-right: 20px;
}
.register{
    background: #FEF3D4;
    margin-left: 20px;
    margin-right: 15px;
}
.register:hover{
    background: #953014;
    color: #ffffff;
}
.reset{
    margin-bottom: 200px;
}
/*card*/
.col-lg-3{
    padding: 5px 5px;
}
.card{
    border: 1px #fff solid;
}
.card-img-top{
    height: 278px;
}
.follow{
  position: absolute;
  width: 100%;
  height: 44px;
  line-height: 44px;
  background: #fff;
  color: #30333A;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.5s ease;
}
.card:hover{
    box-shadow: 0 0 15px  #E4C7AD;
    border: 1px #E4C7AD solid;
}
.card:hover .follow{
     opacity: 0.8;
}
.card-title{
    display: block;
    overflow: hidden;
    height: 42px;
}
.card:hover .card-title{
    overflow: visible;
    height: auto;
}
.bet{
    display: none;
}
.card:hover .bet{
    display: block;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3,
.col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, 
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, 
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, 
.col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, 
.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
.col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, 
.col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, 
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, 
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, 
.col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, 
.col-xl-9, .col-xl-auto{
    padding: 0;
}
.breadcrumb{
    padding: 0;
    background-color: #fff;
    margin-bottom: 40px;
}
#ratesModal, #ratesModal span{
    font-size: 15px;
}
.bet{
    margin-top: 20px;
}
.shows{
    margin:50px auto;    
}
.advantages h5,.advantages p{
    padding: 0 10%;
}
.advantages img{
    display: inline-block;
}
.text{
    padding: 5%;
}
.advantag{
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 70px;
}


footer{
    
    padding-top: 30px;
}
.info{
    list-style: none;
    padding-left: 0px;
}
.copyright p{
    font-size: 13px;
    margin-bottom: 0;
}
.top{
    margin-left: 60%;
    margin-top: 10%
}
.fab{
    font-size: 25px;
    padding-right: 10px;
}

/*один товар*/
/*карусель одного товара*/
#bx-pager a img:hover,
#bx-pager a.active img{
    border: solid #E4C7AD 1px;
}
/*#bx-pager img{
    width: 20%;
}*/
.oneproduct .bx-wrapper .bx-controls-direction a{
    //top:130%;
}

.bx-wrapper img{
    display: inline-block;
    width: 370px;

}
.oneproduct .bx-wrapper .bx-controls-direction .bx-next{
    right: -2%;
    z-index: 999;
}
.oneproduct .bx-wrapper .bx-controls-direction .bx-prev{
    left: -7%;
    z-index: 999;
}
/*#bx-pager a.active img{
    border: none;
}*/
/* 1 квадратик карусели миниатюр*/
.carousel-element {            
    text-align: center;           
}
.carousel-element img{
    width: 90%;
    max-width: 90px;
}
/*карусель для мобильной версии*/
.mobilever{
    display: none;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
   /* height: 30px;
    width: 30px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    //border: 1px solid black;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}
    */
}

/*\карусель одного товара*/
.lot h3{
    margin:30px 0;
}
 
.oneproduct{
   text-align: center;
    margin-bottom: 25px;
}
.oneproduct:after{
    display: table;
    content: " ";
}
.about_lot_title {
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 16px 0;
    padding-left: 16px;
    min-height: 72px;
    font-size: 16px;
    text-align: center;    
}
.info div{
    margin-right: 30px;
}
.about_lot_title span{
    font-size: 14px;
    font-weight: bold;
}
.prices, .rate{
    margin-left: 20px;
    margin-right: 0;
    text-align: left;
}
.rate{
    margin-top: 20px;
}
.prices{
    padding: 0;
}
.actual{
    background-color: #FDF2D3;
}
.prices div{
    padding:10px 20px ;
}
.prices span{
    font-size: 20px;
}
.prices .nbu{
    font-size: 14px;
    color: #6c757d;
}
.rate input{
    margin: 20px;
}
.step{
    background-color: #FDF2D3;
    font-size: 20px;
}
.follow{
    margin-left: 20px;
}
.follow_lot{
     margin-left: 20px;
}
.description span{
    font-weight: bold;
}
.description h4{
    margin-top: 40px;
}
.comment{
    list-style: none;
    padding: 0;
}
.seller{
    vertical-align: middle;
    margin-right: 5px;
    height: 18px;
    line-height: 18px;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    color: #ffffff;
    margin-top: 2px;
}
.time{
    font-size: 14px;
    margin-left: 15px;
}
.comment p{
    font-size: 18px;
    margin-top: 15px;
}
.send{
    margin:30px 0;
}


/*cabinet*/
#reserve_price,#advertised_lots,
#completed_lots,#sold_lots,#del_lots,#archive_lots,
#lots_follow,#auto_delivery, #completed_lot,#archive_sold_lot{
    display: none;
}
table{
    width: 100%;
}
tbody tr:nth-child(odd) {
    background-color: #FEF3D4;/* фон нечетных строк :nth-child (2n)*/
}
thead{
    background-color:#E4C7AD;
}
.cabinet h5{
    margin-left: 15px;
    margin-top: 40px;
}
.avatar{
    text-align: center;
}
.avatar img{
    width: 200px;
}
.my_lot{
    max-height: 500px;
    overflow-y: auto;
    padding-left: 0;
}
.basic, .basic_edit{
    margin-left: 15px;
    margin-right: 0;
    margin-bottom: 30px;

}
.main .card-user{
margin-bottom: 5px;
}
.basic div{
    margin-left: 5%;
}
.basic_edit div{
    margin-left: 3%;
    margin-right: 3%;
}
.basic .favorites,.basic_edit .favorites{
    margin-top: 10px;
}
.basic_edit{
    padding-bottom: 0;
}
.main{
    margin: 20px 15px;
    padding-left: 0;
}
.accordion ul{
    list-style: none;
    text-align: left;
    padding: 0;
}

.cabinet .ui-state-default,.cabinet .ui-widget-content .ui-state-default,
.cabinet .ui-widget-header .ui-state-default,.cabinet .ui-button,
html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #FEF3D4;
    font-weight: normal;
    color: #454545;
}
.accordion .ui-state-active,.accordion .ui-widget-content .ui-state-active,
.accordion .ui-widget-header .ui-state-active,.accordion a.ui-button:active,
.accordion .ui-button:active,.accordion .ui-button.ui-state-active:hover {

    background: #E4C7AD;
}
/*профиль*/
.feedback{
    margin:20px 0;
}
.feedback div{
    text-align: left;
    overflow-y:auto; 
    height:200px;
}
.feedback .fa-thumbs-up, .feedback .fa-thumbs-down{
    margin-left: 20px;
}
.feedback table{
    text-align: center;
}
.img_refresh i{
    margin-top: 20%;
    font-size: 20px;
}
.edit-profile{
    font-size: 13px;
}
.plus{
    color: green;
}
.minus{
    color: red;
}
.cabinet .avatar .img_refresh{
    width: 150px;
    height: 150px;
    border: 1px solid #e5e5e5;
    background: #ffffff;
    padding: 6px 0 0 6px;
    position: absolute;
    left: 25%;
    top:-5%;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
    opacity: .4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.cabinet .avatar .img_refresh {
    display: none;
} 
.avatar:hover .img_refresh{
    cursor: pointer;
    display: block;
}
.avatar input{
    opacity:0;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    cursor: pointer;
}
.margin-bottom{
    margin-bottom: 20px;
}
/*chat*/
.my{
    text-align: right;
}
.my_text{
    //text-align: right;
    width: 80%;
    margin-left:20%;
}
.text_guest{
    width: 80%
}
.hr{
    margin-top: 0;
    margin-bottom: 30px;
}
.chat{
    margin: 20px 0;
    margin-right: 20px;
}

/*add_lot*/

.thumb{
    height: 100px;
    width: 150px;
    padding-left: 10px;
}
#previewImg{
    height: 100px;
    overflow: auto;
}
.restrictions {
    margin-left: 10px;
    border: 1.5px solid #E9EFED;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
}
.restrictions::after {
    display: block;
    content: "";
    width: 10px;
    height: 18px;
    position: absolute;
    left: 2px;
    top: 20px;
    margin-top: -9px;
    background: url(../img/td_note_txt_add.png) 0 0 no-repeat;
}
.anchor label{
    font-weight: normal;
}
.anchor a{
    color: #212529;
}
.add_lot .form-group{
    margin: 50px 0;
}
.open{
    display: none;
}
ul{
    list-style: none;
}
.check{
    display: flex;

}

.check p{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 7px;
    margin-bottom: 0;
}
#switch,#switch2,#switch3 {
  height: 0;
  width: 0;
  visibility: hidden;
}
.switch,.switch2,.switch3 {
  margin-top: 5px;
  cursor: pointer;
  text-indent: -9999px;
  width: 70px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
    text-align: center;

}

.switch:after,.switch2:after, .switch3:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
#switch:checked + .switch, #switch2:checked + .switch2, #switch3:checked + .switch3  {
  background: #953014;
}
#switch:checked + .switch:after, #switch2:checked + .switch2:after, #switch3:checked + .switch3:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.switch:active:after,.switch2:active:after, .switch3:active:after {
  width: 80px;
}
.price {
    margin-top: 20px;
}
.left{
    display: flex;
    justify-content: end;
}
.cleaning{
    margin-right: 20px;
}
#step-price{
    height: 38px;
    width: 45%;
    margin-left: 7px;
}
#step-select{
    height: 38px;
    width: 50%;
}
#price, #sity{
    width: 45%;
    height: 38px;
}
.region{
    height: 38px;
    font-size: 1rem;
    margin:0 15px ;
}
#reserve-price,#region-select{
    height: 38px;
    width: 50%;
}
#datetime, #hour{
    margin-left:5px;
    height: 38px;
}
#datetime{
    margin-right: 5px;
}
/*поиск, фильтры*/
.anchor>ul{
    padding-left: 0;
    margin-bottom: 0;
}
.search{
    margin-top: 0;
    text-align: left;
}
.search .anchor{
    text-align: left;
    overflow-y:auto; 
    max-height:300px;
}
.search .fa-thumbs-up, .search .fa-thumbs-down{
    margin-left: 20px;
}
.search h6{
    font-size: 16px;
    font-weight: bold;
}
.search input[type="radio"]{
    margin-left: 10px;
}
.sorting, .sorting_price{
    font-size: 12px;
}
.sorting p{
    margin: 5px 0;
    font-size: 16px;
}
.search .sorting_price, .search .sorting, .search .region_select {
    margin-top: 40px;
}
.sorting_price input[type="text"]{
    width: 40%;
}
.more{
    display: flex;
    justify-content: center;
}

/*пагинация*/
.page{
    margin-bottom: 20px;

}
#pagination-flickr{
    border:0; 
    margin:0; 
    padding:0;
    display: flex;
    justify-content:flex-end; 
} 
#pagination-flickr li{ 
    border:0; 
    margin:0; 
    padding:0; 
    font-size:11px; 
    list-style:none; 
} 
#pagination-flickr a{ 
    border:solid 1px #DDDDDD; 
    margin-right:5px; 
} 
#pagination-flickr .previous-off, #pagination-flickr .next-off { 
    color:#ddd; 
    display:block;
    justify-content:flex-end; 
    font-weight:bold; 
    padding:6px 9px; 
} 
#pagination-flickr .next a, #pagination-flickr .previous a { 
    font-weight:bold; 
    border:solid 1px #FFFFFF; 
} 
#pagination-flickr .active{ 
    color:#000; 
    font-weight:bold; 
    display:block; 
    justify-content:flex-end;
    padding:6px 9px; 
} 
#pagination-flickr a:link, #pagination-flickr a:visited { 
    color:#808080; 
    display:block;
    justify-content:flex-end; 
    padding:6px 9px; 
    text-decoration:none; 
} 
#pagination-flickr a:hover{ 
    border:solid 1px #ddd; 
}

@media (max-width: 991px){
    /*для планшетов скрывем одну карусель, показываем друю*/
    .owl-wrapper-outer, .center-text, .bxslider, .bx-controls-direction, .bx-wrapper{
        display: none;
    }
    .mobilever{
    display: block;
    }
}
